In [ ]:
import pyodbc
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)


conn = pyodbc.connect ("Driver={ODBC Driver 17 for SQL Server};"
                       "Server=DESKTOP-U68VLTP\SQLEXPRESS;"
                       "Database=project;"
                       "Trusted_Connection=yes;")
print(">>> connection successfully established! <<<")
cursor = conn.cursor()

In [ ]:
sql_command = """INSERT INTO persons VALUES (2, 'Santos', 'Lucas', 27)"""
    
#"""INSERT INTO persons VALUES (0, 'Lucas', 'Anderson', 27, 'Sao Paulo')"""

#"""DELETE FROM persons WHERE ID=4"""

#"""CREATE TABLE Persons (
    #ID int NOT NULL PRIMARY KEY,
    #LastName varchar(255) NOT NULL,
    #FirstName varchar(255),
    #Age int);"""

#"""DROP TABLE persons"""

#"""ALTER TABLE dbo.products ADD CONSTRAINT FK_Table1_Table2 FOREIGN KEY(product_name) REFERENCES dbo.client(ID)"""

cursor.execute(sql_command)
cursor.commit()#alteracao

In [ ]:
("""SELECT obj.name AS FK_NAME,
        sch.name AS [database_name],
        tab1.name AS [table],
        col1.name AS [column],
        tab2.name AS [referenced_table],
        col2.name AS [referenced_column],
    FROM sys.foreign_key_column fkc
    INNER JOIN sys.object obj
        ON obj.object_id = fkc.constraint_object_id
    INNER JOIN sys.tables tab1
        ON tab1.object_id = fkc.parent_object_id
    INNER JOIN sys.schema sch
        ON tab1.schema_id = sch.schema_id
    INNER JOIN sys.columns col1
        ON col1.column_id = parent_column_id col1.object_id = tab1.object_id
    INNER JOIN sys.tables tab2
        ON tab2.object_id = fkc.referenced_object_id
    INNER JOIN sys.columns col2
        ON col2.column_id = referenced_column_id AND col2.object_id = tab2.object_id
    WHERE tab1.name = 'table_name'
    """, conn)

In [ ]:
query = pd.read_sql("SELECT * FROM persons", conn)
data = query.to_dict('records')
data